body {
    margin: 0;
    text-align: center;
}
.outer-circle {
    position: relative;
    margin-top: 2.5rem;
    border-radius: 50%;
    display: inline-block;
    width: 36rem;
    height: 36rem;
    /* border: 0.15em solid gray; */
    /* box-shadow: 0.25rem 0.25rem 0.125rem gray; */
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: opacity 0.2s ease-in-out;
}

.top-left {
    top: 0;
    left: 0;
    background-color: #20bf6b;
    border-radius: 100% 0 0 0;
}
.top-right {
    top: 0;
    right: 0;
    background-color: #f7b731;
    border-radius: 0 100% 0 0;
}
.bottom-left {
    bottom: 0;
    left: 0;
    background-color: #0fb9b1;
    border-radius: 0 0 0 100%;
}
.bottom-right {
    bottom: 0;
    right: 0;
    background-color: #eb3b5a;
    border-radius: 0 0 100% 0;
}

.inner-circle {
    position: absolute;
    border-radius: 50%;
    top: 25%;
    left: 25%;
    /* display: inline-block; */
    width: 50%;
    height: 50%;
    background-color: white;
}

h1 {
    margin-top: 1.5em;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: rgb(153, 153, 153);
}

.btn {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    border: 0.1em solid black;
    background-color: black;
    color: white;
    padding: 0.5`em;
}